@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Mono:ital@1&display=swap');

.image {
  padding-bottom: 100px;
  background-image: url('../images/2ltgUkFC.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* Para redimensionar a imagem para cobrir a tela */
}

.popins-semi-bold {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0.5rem;
}

.bottom-6 {
  bottom: 6.5rem;
}

.end-0 {
  right: 0.5rem;
}